//
//  Debug.xcconfig
//  weatherApp
//
//  Created by Pranav Pratap on 09/10/23.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// some other values are directly taken from .plist

SERVER_URL = www.debug.server.url
WEATHER_API_ID = c79b6cb39826aca9755ade5999cd13bd
CURRENT_ENV = DEBUG
